@charset "utf-8";
body{
	background-color:#DEEBE0;
}
.admin-main{
	padding-top:150px;
	padding-left:2%;
	padding-right:2%;
}
.btnp{
	padding:10px;
	width:auto;
	height:auto;
	display:inline-table;
}
#button{
	border: 2px solid #009ca8;
-moz-border-radius: 15px;      
-webkit-border-radius: 15px;   
border-radius:15px;
width:150px;
height:50px;
background-color: #DEEBE0;
color:#009ca8;
transition:color 400ms;
	/* Firefox 4 */
	-moz-transition:color 400ms;
	/* Safari and Chrome */
	-webkit-transition:color 400ms;
	/* Opera */
	-o-transition:color 400ms;
	
	transition:background-color 400ms;
	/* Firefox 4 */
	-moz-transition:background-color 400ms;
	/* Safari and Chrome */
	-webkit-transition:background-color 400ms;
	/* Opera */
	-o-transition:background-color 400ms;
}
#button:hover{
	border: 2px solid #009ca8;
-moz-border-radius: 15px;      
-webkit-border-radius: 15px;   
border-radius:15px;
width:150px;
height:50px;
background-color: #009ca8;
color: #FAFAFA;
transition:color 400ms;
	/* Firefox 4 */
	-moz-transition:color 400ms;
	/* Safari and Chrome */
	-webkit-transition:color 400ms;
	/* Opera */
	-o-transition:color 400ms;
	
	transition:background-color 400ms;
	/* Firefox 4 */
	-moz-transition:background-color 400ms;
	/* Safari and Chrome */
	-webkit-transition:background-color 400ms;
	/* Opera */
	-o-transition:background-color 400ms;

}
