@charset "utf-8";
body{
	background-color:#F0F0F0;
	padding-top:40px;
}

#layui-logo{
	color:#FFF;
	font-size:15px;
}

.lb{
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 14px 40px rgba(204,204,204,0.8); /*Firefox */
	box-shadow: 0px 14px 40px rgba(204,204,204,0.8);
}
.lb img{
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	
    width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	
}

/*轮播图3 PC*/
@media screen and (min-width: 768px) {

	.tlb3{
		text-align: center;
		font-size:24px;
		padding-top:8%;
		color:#fff;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.svg");
		background-size: cover;
		
	}
	.ptlb3{
	margin-bottom: 24px;

	}
	.atlb3{
		color:#fff;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb3:hover{
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 0px solid #666666;
	    background-color:#cccccc;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}
/*轮播3 Mobile*/
@media screen and (max-width: 767px) {

	.tlb3{
		text-align: center;
		font-size:20px;
		padding-top:8%;
		color:#fff;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.svg");
		background-size: cover;
		
	}
	.ptlb3{
		margin-bottom: 20px;

	}
	.atlb3{
		color:#fff;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb3:hover{
		background-color:#cccccc;
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #666666;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}

/*轮播图1 PC*/
@media screen and (min-width: 768px) {

	.tlb1{
		text-align: center;
		font-size:24px;
		padding-top:8%;
		color:#666666;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.svg");
		background-size: cover;
		
	}
	.ptlb1{
	margin-bottom: 24px;

	}
	.atlb1{
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #666666;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb1:hover{
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 0px solid #666666;
	    background-color:#cccccc;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}
/*轮播1 Mobile*/
@media screen and (max-width: 767px) {

	.tlb1{
		text-align: center;
		font-size:20px;
		padding-top:8%;
		color:#666666;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.svg");
		background-size: cover;
		
	}
	.ptlb1{
		margin-bottom: 20px;

	}
	.atlb1{
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #666666;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb1:hover{
		background-color:#cccccc;
		color:#666666;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #666666;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}

/*轮播图2 PC*/
@media screen and (min-width: 768px) {

	.tlb2{
		text-align: center;
		font-size:24px;
		padding-top:8%;
		color:#fff;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.jpg");
		background-size: cover;
		
	}
	.ptlb2{
	margin-bottom: 24px;

	}
	.atlb2{
		color:#fff;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb2:hover{
		color:#fff;
		position: relative;
	    padding: .3em 1em;
	    border: 0px solid #fff;
	    background-color:#666666;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}
/*轮播2 Mobile*/
@media screen and (max-width: 767px) {

	.tlb2{
		text-align: center;
		font-size:20px;
		padding-top:8%;
		color:#FFF;
		width: 100%;
		height: 100%;
		background: url("../UI/lbbg/trianglify.jpg");
		background-size: cover;
		
	}
	.ptlb2{
		margin-bottom: 20px;

	}
	.atlb2{
		color:#FFF;
		position: relative;
	    padding: .3em 1em;
	    border: 2px solid #fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
	.atlb2:hover{
		background-color:#666666;
		color:#fff;
		position: relative;
	    padding: .3em 1em;
	    border: 0px solid #fff;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 1.7em!important;
	    -webkit-transition: all .2s;
	    -moz-transition: all .2s;
	    transition: all .2s;
	}
}


.paddingtop{
	margin-top:80px;
	margin-bottom:80px;
}

.bta{
	 color: #F0F0F0 !important;
}
.bta:hover{
	color: #FFF !important;
}
/*锚点上移免除被覆盖*/
.md{
	display: block;
	position: relative;
    top: -92px;
    visibility: hidden;
}
.layui-header{
	position: fixed;
	width:100%;
	top:0;
}
.z_index_box{
	z-index: 2;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #F0F0F0;
    transition: all .2s;
    -webkit-transition: all .2s;
	
}
.layui-layout-admin .layui-header {
    background-color:#393D49;
    z-index: 99;
}
.img48{
	font-size: 48px;
}
/*功能及底部 PC*/
@media screen and (min-width: 768px) {
	.border_box{
		background-color:#F0F0F0;
		padding:18px;
		margin-right: 6%;
		margin-top: 20px;
		margin-bottom: 40px;
		z-index: 2;
		-moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
		transition: all 600ms cubic-bezier(0.165, 1, 0.625, 1);
		-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	}
	.border_box:hover{
		/*background-color:rgba(57,61,73,0.9);*/
		/*color:#FFF;*/
		padding:18px;
		margin-right: 6%;
		margin-top: 20px;
		margin-bottom: 40px;
		z-index: 2;
		-moz-box-shadow: 0px 14px 40px rgba(204,204,204,0.4); /*Firefox */
		box-shadow: 0px 14px 40px rgba(204,204,204,0.4);
		-moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
		-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */
	}
	.bt
	{
		margin-bottom: 40px;
	}
}

/*功能及底部 Mobile*/
@media screen and (max-width: 767px) {
	.border_box{
		background-color:#F0F0F0;
		padding:18px;
		margin-bottom: 20px;
		margin-top: 24px;
		z-index: 2;

		-moz-box-shadow: 0px 6px 36px rgba(204,204,204,0.4); /*Firefox */
		box-shadow: 0px 6px 36px rgba(204,204,204,0.4);

		-moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
		transition: all 600ms cubic-bezier(0.165, 1, 0.625, 1);
		-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	}
	.border_box:hover{
		/*background-color:rgba(57,61,73,0.9);*/
		/*color:#FFF;*/
		padding:18px;
		margin-bottom: 20px;
		margin-top: 24px;
		z-index: 2;
		-moz-box-shadow: 0px 6px 36px rgba(204,204,204,0.4); /*Firefox */
		box-shadow: 0px 6px 36px rgba(204,204,204,0.4);
		-moz-border-radius: 8px;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
		-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
	        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */
	}
	.bt
	{
		margin-bottom: 20px;
	}
}

.yy{
	
}
.logo_a{
	color:#FFF;
}
.logo_a:hover{
	
	color:#FFF;
}
.border_box_icon{
	background-color:#393D49;
	padding:10px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	color:#FFF;
	box-shadow: 1px 1px 16px #CCC;
}
