@charset "utf-8";
@media screen and (min-width: 768px) {
	.bt
	{
		padding-top: 160px;
	}
}

body{
	background-color:#F0F0F0;
	padding-top:40px;
}

#layui-logo{
	color:#FFF;
	font-size:15px;
}
.paddingtop{
	margin-top:80px;
	margin-bottom:80px;
}

.bta{
	color: #F0F0F0 !important;
}
.bta:hover{
	color: #FFF !important;
}
/*锚点上移免除被覆盖*/
.md{
	display: block;
	position: relative;
    top: -92px;
    visibility: hidden;
}
.layui-header{
	position: fixed;
	width:100%;
	top:0;
}
.z_index_box{
	z-index: 2;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #F0F0F0;
    transition: all .2s;
    -webkit-transition: all .2s;
	
}
.layui-layout-admin .layui-header {
    background-color:#393D49;
    z-index: 99;
}
.img48{
	font-size: 48px;
}
.border_box{
	background-color:#F0F0F0;
	padding:10px;
	margin:10px;
	margin-bottom: 20px;
	z-index: 2;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	transition: all 600ms cubic-bezier(0.165, 1, 0.625, 1);
	-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

}
.border_box:hover{
	/*background-color:rgba(57,61,73,0.9);*/
	/*color:#FFF;*/
	padding:10px;
	margin:10px;
	margin-bottom: 20px;
	z-index: 2;
	-moz-box-shadow: 0px 14px 40px rgba(204,204,204,0.3); /*Firefox */
	box-shadow: 0px 14px 40px rgba(204,204,204,0.3);
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	-webkit-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
   -moz-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
     -o-transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); 
        transition: all 500ms cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
   -moz-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
     -o-transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); 
        transition-timing-function: cubic-bezier(0.500, 0.250, 0.500, 0.750); /* custom */
}
.yy{
	
}
.logo_a{
	color:#FFF;
}
.logo_a:hover{
	
	color:#FFF;
}
.border_box_icon{
	background-color:#393D49;
	padding:10px;
	margin:10px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	color:#FFF;
	box-shadow: 1px 1px 16px #CCC;
}

